<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EGW</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <%= css :app %>
  </head>

  <body>
    <div class="container">
      <%= erb :general_search %>
      <%= erb :letters_search %>

      <%= yield %>  
    </div>

    <%= js :app %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
